.order-management {
    padding: 20px;
    background-color: #FAFAFA;
    font-family: 'Arial', sans-serif;
}

.filters {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filters button {
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    background-color: #f5f5f5;
    color: #555;
    cursor: pointer;
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
}

.filters button.active {
    background-color: #202bf2;
    color: white;
    border-color: #3182CE;
}

.all-products-button {
    background-color: #202bf2;
    color: white;
}

.search-and-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    width: 250px;
    outline: none;
    margin-right: 20px;
}

/* Search Container with Clear Icon */
.order-search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.order-clear-search-icon {
    position: absolute;
    right: 25px;
    cursor: pointer;
    color: #ccc;
    font-size: 16px;
}

.order-clear-search-icon:hover {
    color: #999;
}


.filter-button {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    background-color: #FFF;
    color: #555;
    cursor: pointer;
}

.order-table {
    width: 100%;
    border-spacing: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.order-table th, .order-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E2E8F0;
}

.order-table th {
    background-color: #F7FAFC;
    color: #4A5568;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.order-table tr:last-child td {
    border-bottom: none;
}

.order-row:hover {
    background-color: #F7F8FA;
}

.status-dropdown {
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #E2E8F0;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    background-color: #F7FAFC;
    cursor: pointer;
}

.status-dropdown.pending { background-color: #FFC600; color: #FFF; }
.status-dropdown.confirmed { background-color: #28C76F; color: #FFF; }
.status-dropdown.processing { background-color: #0FB7FF; color: #FFF; }
.status-dropdown.picked { background-color: #0F60FF; color: #FFF; }
.status-dropdown.shipped { background-color: #BD00FF; color: #FFF; }
.status-dropdown.delivered { background-color: #33189D; color: #FFF; }
.status-dropdown.cancelled { background-color: #A0AEC0; color: #FFF; }

.expand-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
    color: #4A5568;
}

.expanded-order-details {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    background-color: #F7FAFC;
}

.expanded-order-details th, .expanded-order-details td {
    padding: 12px;
    border-bottom: 1px solid #E2E8F0;
}

.expanded-order-details th {
    background-color: #EDF2F7;
    font-weight: 600;
    color: #4A5568;
}
